hr{
    border: 0,5px solid #00283C;
    
}
#entiteit{
    border: 1px solid gray;
    border-collapse: collapse;
}
td, th{
    border: 1px solid gray;
    padding:  15px;
    text-align: center;
}
th{
    background-color: #00283C;
    color: white;
}
caption{
    caption-side: bottom;
}
