/* Navigatiebalk */
.navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(135, 168, 120);
    font-size: 64;
  } 
  
  .navbarItem {
    float: left;
  }
  
  .navbarItem>a {
    font-size: x-large;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
    color: rgb(135, 168, 120);
  }
 /* Body */
 body {
    margin: 0px;
    background-color: rgb(250, 240, 230);
    font-family: raleway;
    src: url(Oefeningen\Project\Website\Raleway\Raleway-Italic-VariableFont_wght.ttf);
 }

 h1{
  color: rgb(77, 40, 24);
  font-size: 45px;
  padding-left: 50px;
 }
 
 h2{
  color: rgb(77, 40, 24);
  font-size: 40px;
  padding-left: 50px;
 }
 
 .imageindex{
  width: 175px;
  float: right;
  padding-right: 300px;
 }

 .imagejcspin{
  width: 350px;
  float: right;
  padding-right: 150px;
 }

 .imagevissen{
  width: 350px;
  float: right;
  padding-right: 150px;
 }

.imageskien{
  width: 350px;
  float: right;
  padding-right: 150px;
}

 p{
  color: rgb(77, 40, 24);
  font-size: 40;
  padding-left: 50px;
 }